#calc{
    width:300px;
    height:250px;
}
.btn{
    width:96% ;
    height: 40px;
    font-size :20px; 
    border-radius: 20px;
    border: none;
    background-color:cyan;
    color:#5E5858;
    cursor: pointer;
}
.txt{
    width: 300px;
    height: 100px;
    background-color:darkblue;
    border-radius: 14px;
    border: none;
    font-size: 40px;
    font-weight: 600;
    color:white;
}